/* GLOBAL*/
:root {
    --purple-bg: #5E548E;
    --dred-bg: #8E5454;
    --white-bg: #E3E3E3;
    --green-bg: #7DC084;
    --blue-bg: #7DA0C0;
    --orange-bg: #C0997D;
    --lred-bg: #C07D89;
    --black-bg: rgb(73, 73, 73);
}
a{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}
body{
    margin: 0;
    font-family: Rajdhani;
}
h1,h2,h3,h4,h5,h6{
    font-style: normal;
    font-weight: normal;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
@font-face {
    font-family: Rajdhani;
    src: url(fonts/Radjhani/Rajdhani-Regular.ttf);
}
.fullscreen{
    min-width: 100%;
    min-height: 100%; 
}
.halfscreen{
    min-width: 100%;
    min-height: 50%; 
}



/* LANDING PAGE */
.landingscreen{

    background-color: var(--purple-bg);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.landingflex-1{
    flex-grow: 1;
    padding-left: 30%;
}
.landingflex-2{
    flex-grow: 1;
    padding-left: 20%;
    animation:fade-in 7s;

}
@keyframes fade-in {
    0%   {opacity: 0%;}
    25% {opacity: 0%;}
    100%  {opacity: 100%;}

}
.landingflex-1>h1{
    display: inline;
}

#myname{
    font-style: normal;
    animation:color-change 1s infinite;
}
@keyframes color-change {
    0%   {opacity: 100%;}
    50%  {opacity: 0;}

}
@media screen and (max-width: 1150px) {
    .landingflex-2 svg{
        display: none;
    }
    .landingscreen{
        grid-template-columns: 1fr;  
    }
    .landingflex-1{
        padding-left: 10%;
    }
    .landingflex-2{
        position: absolute;
    }
}
/* END OF LANDING PAGE */

/* ABOUT  */

@media screen and (min-width: 1150px) {
    .aboutpage{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        background-color: #F3F3F3;
    }
}

.aboutpage > *{
    padding: 100px 0 50px;
}

.aboutpage > * > h1{
    margin-bottom: 75px;
}

.skills{
    background-color: var(--white-bg);
    padding-left: 25px;
}
.skills > ul, .education > ul{
    list-style-type: none;
    font-size: 25px;
    line-height: 45px;

}
.abt{
    /* background-color: #F3F3F3; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* padding-top: 90px; */
    align-self: center;
}
.abt > h1{
    align-self: flex-start;
    padding-left: 25px;
}
.abt > h3{
    margin-top: 75px;
    /* width: 400px; */
    padding: 0 20%;
    font-size: 25px;
    text-align: center;
}
.abt>img{
    border-radius: 30px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);

}
.education{
    background-color: #C6C6C6;
    padding-left: 25px;

}
@media screen and (max-width: 1150px) {

    .aboutpage{
        display: grid;
        grid-template-rows: 1fr auto;
    }
    .abt{
        order: -1;
        background-color: white;
    }
    .skills{
        background-color: var(--white-bg);
        height: fit-content;
    }

}
/* END OF ABOUT  */

/* PROJECTS */
.projects{
    display: flex;
    padding: 100px 0;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.project-title{
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 100px;
    text-align: center;
    /* justify-self: center; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.project-title>h1{
    margin: 0;
}
.project-placards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;

}
.project-placard{
    min-width: 370px;
    /* min-height: 65vh; */
    /* max-height: 550px; */
    height: 550px;

    width: 20vw;
    /* height: 35vw; */

    background: white;
    /* background: #F8F8F8; */
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: grid;
    grid-template-rows: 230px 2fr;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
    
}
.project-placard>img{
    /* width: 260px; */
    height: 180px;
    /* max-height: 24-[]; */
}
.project-placard h1,.project-placard h3{
    margin-bottom: 20px;
}
.project-placard a{
    word-break: break-all;
}
.project-placard>div{
    justify-self: start;
    align-self: flex-start;
    padding: 0 10%;
}


@media screen and (max-width: 1300px) {
    .project-placards{
        grid-template-columns: 1fr 1fr;
    }

    
}
@media screen and (max-width: 700px) {
    .project-placards{
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
    }
    .project-title{
        width: 75vw;
        height: 100px;
    }

    .project-placard{
        width: 65vw;
    }
    
}
/* END OF PROJECTS */


@media screen and (min-width: 1150px) {
    .volunteers{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* CONTACT */
.contact{
    color: white;
    font-size: 20px;
    background-color: var(--purple-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10vh 0;
    flex-direction: column;
    text-align: center;
}
.resume{
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid rgba(255,255,255,0);
    border-bottom: 1px solid white;
    /* animation:border-animation 3s infinite; */
}
.resume:hover{
    cursor: pointer;
    transition: 2s;

    border-left: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);
}


/* END OF CONTACT */

/* FILTERS */

.projects-filters{
    margin-top: 50px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-evenly;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-filters  h3{
    /* width: 35%; */
    min-width: 155px;
    text-align: center;
    margin: 0.5rem;
}
.projects-filters div{
    width: 30%;
    max-width: 300px;
    border-bottom: 1px solid rgb(204, 204, 204);
    transition: background-color 0.5s, color 0.3s, border-radius 0.7s;
}
.projects-filters  div:hover{
    cursor: pointer;
    
    background-color: #5E548E;
    color: white;
    border-radius: 10px;

}


.active{
    background-color: #5E548E;
    color: white;
    border-radius: 10px;
}
@media screen and (max-width: 700px) {

    .projects-filters{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 15px;
    }
    .projects-filters h3{
        width: 75vw;
    }
    .projects-filters div{
        width: auto;
    }

}

/* END OF FILTERS */